# dependencies
node_modules/
.pnp
.pnp.js

# production
/out
/.next

# misc
.DS_Store
*.pem
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel / netlify
.vercel
.netlify

# typescript
*.tsbuildinfo
next-env.d.ts
